hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.background-footer {
	height: 80px;
	background-color: rgba(24, 24, 24, 0.76);
}

.h-balise {
	margin-top: 6%;
}

.text {
	width: 90%;
	min-height: 200px;
	border: 1px solid #F5F5F5;
	margin-left: 5%;
	margin-bottom: 10%;
}

.footer-space {
	width: 40%;
	height: 100%;
	margin-left: 30%;
}

.circle {
	width: 50px;
	height: 50px;
	margin-top: 15px;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	background: #68646A;
}

.circle:hover {
	background: green;
}

.circle p {
	font-size: 10px;
	margin-top: 30%;
}

.degrade {
	background: 
	linear-gradient(
		to bottom right,
		#FFFFFF, #8F8F8F
		);
}

